SUPABASE_URL=https://jfkidxjiuiugafebksil.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impma2lkeGppdWl1Z2FmZWJrc2lsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4NjQwMjYsImV4cCI6MjEwMDQ0MDAyNn0.aqxqMrI_OwAi-jxxLPHWahwaJ2gRN6jRIykUTtQy2wg
